modules = ["nodejs-24"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
ADMIN_EMAIL = "agca.svp2@gmail.com"
ADMIN_PASSWORD = "Smart@2007"
JWT_SECRET = "9acbae3e9249045a8b10a4f8ad5fc2326dba2fd8ab1131221c5a794c1845e76f"
GOOGLE_REDIRECT_URI = "/api/auth/google/callback"
